@media (min-aspect-ratio: 18/9) {
  .project-tile p {
    display: none;
  }
  .card {
    padding: 0px;
  }
  .card h1, .card h2 {
    font-size: 0em;
  }
  .card p {
    font-size: 0.65rem;
  }
}
@media only screen and (max-hieght: 250px) {
  .card {
    overflow: hidden;
  }
}
@media only screen and (max-height: 355px) and (min-aspect-ratio: 20/9) {
  .card {
    margin: none;
    overflow: hidden;
  }
  .project-tile img {
    display: none;
  }
}
@media only screen and (max-height: 400px) {
  .project-tile p {
    display: none;
  }
}
body {
  margin: 0;
  background-color: rgba(51, 51, 51, 0);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: darkgrey;
}

p {
  font-size: 12px;
}

#welcome-section, #project-section, #contact-section, #aboutMe-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.95);
  box-shadow: 5px 5px 10px white;
  margin: auto;
  padding: 5%;
  max-width: 80%;
  max-height: 80%;
}
.card h1 {
  font-weight: bolder;
  font-size: 4rem;
}
.card h2 {
  font-weight: bolder;
  font-size: 2rem;
}

.content-wrapper {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #333;
  background-image: url("/images/R-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 40%;
}

.navbar {
  position: fixed;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
}

.navlinks {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 2;
}

.navlinks a {
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: white;
}

.link {
  background-color: rgba(0, 0, 0, 0);
  padding: 4%;
}

.link:hover {
  transform: scale(1.25);
}
.link:hover a {
  color: lightgrey;
}

.output {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  color: white;
}
.output p {
  margin: 0px;
  font-size: 20px;
}

.preloader {
  margin: 0px;
  background-color: #333;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-height: 100%;
  margin: auto;
  text-decoration: none;
  color: white;
}
.project-tile img {
  width: 80%;
  height: auto;
}
.project-tile h2 {
  height: 2rem;
  font-size: medium;
  text-align: center;
}

.projects-container {
  border-radius: 8px;
  background-color: #333;
  box-shadow: 5px 5px 10px white;
  display: flex;
  flex-direction: row;
  max-height: 90%;
  padding: 2%;
}

.sidebar {
  position: fixed;
  width: 8%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.sidebar .socials, .sidebar .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .socials a, .sidebar .socials img, .sidebar .logo a, .sidebar .logo img {
  width: 70%;
  height: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}
.sidebar .socials {
  margin: auto;
}

.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 0px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

p.cursor::after {
  height: 13px;
  width: 6px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */